COMPOSE_PROJECT_NAME=signal-local

SIGNAL_API_PORT=8090
SIGNAL_ADMIN_PORT=8091
SIGNAL_HTTPS_PORT=9443
SIGNAL_GRPC_PORT=50052
REGISTRATION_GRPC_PORT=50051

DYNAMODB_PORT=8000
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
FIRESTORE_EMULATOR_PORT=8080
PUBSUB_EMULATOR_PORT=8085
BIGTABLE_EMULATOR_PORT=8086

REDIS_CACHE_PORT=6379
REDIS_PUBSUB_PORT=6380
REDIS_PUSHSCHEDULER_PORT=6381
REDIS_RATELIMITERS_PORT=6382
REDIS_MESSAGECACHE_PORT=6383

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

SIGNAL_SERVER_XMX=2g
